.spacing {
  margin: 10px;
}

.btn-outline-light {
  background-color: white !important;
  opacity: .70;
  color: black !important;
  font-weight: bold !important;
}

.red {
  background-color: red !important;
}

.orange {
  background-color: orange !important;
}

.yellow {
  background-color: yellow !important;
}

.green {
  background-color: green !important;
}

.blue {
  background-color: blue !important;
}

.purple {
  background-color: purple !important;
}