.App {
  text-align: center;
}

.background {
  background-image: url(./images/bg.jpg);
  background-size: cover;
  height: 700px;
}

.button-container {
  display: block;
  padding: 25px;
  color: white;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
}

.jumbotron {
  height: 40%;
  color: white;
  background-color: transparent !important;
}

.hr {
  border: 0.5px solid white;
  width: 75%;
}