.App {
  text-align: center;
}

.background {
  background-image: url(./images/hexbackground.jpg);
  background-size: cover;
  height: 700px;
}

.button-container {
  display: block;
  padding: 25px;
  color: white;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
}

.jumbotron {
  height: 40%;
}